body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eb7099; /* Rosado claro */
    color: black;
}

/* Encabezado */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Banner */
.banner {
    background: linear-gradient(to right, #ff80ab, #64b5f6); /* Rosado y celeste */
    text-align: center;
    padding: 50px 20px;
    color: white;
    font-size: 24px;
}

/* Productos */
.productos {
    text-align: center;
    padding: 50px 20px;
}

.productos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.producto {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.producto button {
    background-color: #ff4081; /* Rosado */
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.producto button:hover {
    background-color: #d81b60;
}

/* Contacto */
.contacto {
    background-color: #64b5f6; /* Celeste */
    color: white;
    text-align: center;
    padding: 30px 20px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.pago {
    text-align: center;
    padding: 30px;
    background-color: white;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 8px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #720127;
    color: white;
    padding: 10px;
    border: none;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d81b60;
}

.carrito {
    text-align: center;
    padding: 30px;
    background-color: white;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.carrito ul {
    list-style: none;
    padding: 0;
}

.carrito ul li {
    display: flex;
    justify-content: space-between;
    background: #f8bbd0; /* Rosado */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.carrito button {
    background-color: #d81b60;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carrito button:hover {
    background-color: #880e4f;
}

a {
    color: white; 
    text-decoration: 0;
}